ol, ul, textarea, blockquote {margin: 0; padding: 0}
body, h1, h2, h3, h4, h5, h6, dl, dd, p, pre {margin: 0}
h1, h2, h3, h4, h5, h6{font-weight: 400}
th, td, input, button {padding: 0}
input,button,textarea{-webkit-appearance: none;border-radius: 0;outline: none}
img,iframe{border: none}
li{list-style-type:none}
a:link,a:active,a:visited { text-decoration: none }
body,input,button,textarea,select{
    font-family: Helvetica sans-serif;
}

input, button{
    border: 1px solid #ccc;
    box-sizing: border-box;
}
button{
    background-color: transparent;
}

::-webkit-scrollbar {
    width: 7px;
    height: 7px;
}
::-webkit-scrollbar-thumb {
    background: #e2e2e2;
    border-radius: 15px;
}
::-webkit-scrollbar-track {
    background-color: #fff;
}

html, body, #app {
  height: 100%;
}
